.wishlist {
  padding-bottom: 174px;
}

.wishlist__profile {
  display: flex;
  align-items: center;
}

.wishlist__description {
  font-size: 38px;
  margin-bottom: 77px;
}

.whishlist__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 50px 40px;
}
