.wishlist {
  display: none;
  padding-bottom: 50px;
}
.container {
}

.wishlist__profile {
  display: flex;
  align-items: center;
}

.wishlist__description {
  font-size: 38px;
  margin-bottom: 77px;
}

.wishlist__categories {
}


.whishlist__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 50px 40px;
}

.btn {
}
.btn_castling {
}